.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title-container {
  display: flex;
  margin-bottom: 30px;
}

.start-game-button {
  width: 200px;
  padding: 15px 30px;
  font-size: 18px;
  color: #fff;
  background-color: var(--action-button-bg);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  align-self: center;
}

.start-game-button:hover {
  background-color: var(--action-button-bg-hover);
}

@media (max-width: 1024px) {

  .start-game-button {
    width: 180px;
    padding: 14px;
  }
  
}

@media (max-width: 768px) {

  .start-game-button {
    width: 180px;
    padding: 14px;
  }
  
}

@media (max-width: 480px) {

  .start-game-button {
    width: 150px;
    font-size: 14px;
    padding: 12px;
  }
  
}