.game-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.game-header-icons {
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 8px;
  filter: invert(1);
}

.game-header-icons:hover {
  background-color: var(--header-icon-bg-hover);
}

.game-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}

.toast {
  word-break: 'break-word';
}

@media (max-width: 768px) {
  .toast {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .toast {
    width: 220px;
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .toast {
    width: 170px;
    font-size: 12px;
    padding: 0 !important;
  }
}