*::after, *::before, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*Color variables*/

  --background-light: #fff;
  --text-dark: #000;
  --text-light: #fff;

  --letter-border-default: #d3d6da;
  --letter-border-pending: #878a8c;
  --letter-absent: #787c7e;
  --letter-elsewhere: #c9b458;
  --letter-correct: #6aaa64;

  --action-button-bg: #10b981;
  --action-button-bg-hover: #059669;

  --header-icon-bg-hover: #cccccc;
}
